:root {
  --target-floor: 0;
  --elevator-position: 0;
  --elevator-step: 0;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 80vh; /* set height of container to viewport height */
    width: 15vh;
  }
  
  .square {
    position: relative;
    flex: 1; /*set each square to grow to fill available space*/
    border: 1px solid black; /*add border for visual clarity*/
    background-color: white;
  }

  .elevator {
    position: absolute;
    bottom: calc(103%*var(--elevator-position));
    left: calc(50% - (15vh / 2));

  }

  .elevator.moving {
    animation-name: elevator-move;
    animation-duration: max(0.1s, calc(0.5s * max(var(--elevator-step), calc(-1*var(--elevator-step))))); /*explanation below*/
    animation-timing-function: linear;
    animation-iteration-count: --elevator-speed;
    animation-fill-mode: forwards;
  }
  /* animation duration is calculated to be 0.5s times the number of floors the elevator have to move.
        the --elevator-step can be negative so max() is used as alternative to abs()
        in addition to that, if --elevator-step equals to 0 so the animation will never end. 
        thats why the first max(0.1, ...) is needed.
  */

  @keyframes elevator-move {
    from { transform: translateY(0); }
    to { transform: translateY(calc(-130%*var(--elevator-step))); }
  }  

  .buttonSquare {
    flex: 1;
    border: 0px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .floorNumbers {
    flex: 1;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10%;
  }